@model List<Ozellik>



            <div class="d-inline mb-3 bg-white p-4">
            @foreach (var ozellik in Model)
            {
                <div class="d-inline-flex flex-column">
                    <i class="bi bi-@ozellik.Icon text-center"></i>
                    <a href="/evler/ozellik/@ozellik.Url" class="btn btn-outline-secondary btn-sm">@ozellik.Yazi</a>
                </div>
            }
            </div>
