@model EvViewModel

<div class="row">
    <vc:ozellikler-menu></vc:ozellikler-menu>

    
            @foreach (var ev in Model.Evler)
            {
                       

                            <div class="col-3 p-2">

                            <div class="card" style="width: 18rem;">
                                    <img style="width: 18rem; height:15rem;" src="~/img/@ev.Image" class="card-img-top img-fluid" />

                                <div class="card-body">

                                    <h5 class="fs-6"><a href="/evler/detay/@ev.Url" class="btn-link fw-bold">@ev.Baslik</a></h5>
                                    <p class="text-muted">Ev Sahibi: @ev.Kullanici.KullaniciAd</p>

                                </div>
                            </div>
                            </div>
            }

    <hr class="my-2">
    <h5>En Yeni Yayınlar</h5>
    <vc:yeni-evler></vc:yeni-evler>
</div>
