@model List<Ev>


<div class="row">
        @foreach (var ev in Model)
        {
            <div class="col-3 p-2">

                <div class="card" style="width: 18rem;">
                    <img style="width: 18rem; height:15rem;" src="~/img/@ev.Image" class="card-img-top img-fluid" />

                    <div class="card-body">
                        <a href="/evler/detay/@ev.Url">
                        <h5 class="fs-6"><a href="/evler/detay/@ev.Url" class="btn-link fw-bold">@ev.Baslik</a></h5>
                        </a>
                        <p class="text-muted">Ev Sahibi: @ev.Kullanici.KullaniciAd</p>

                    </div>
                </div>
            </div>
           
        }
    </div>
</div>